img {
    width: 60px;
    height: 40px;
}

li {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 20px;
    transition: .2s;
}

li:hover {
    transform: scale(1.1);
    background-color: #ccc;
}

ul {
    list-style-type: none;
}